@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}
:root{
    --main-color: #0b4d99;
    --text-color: #fff;
    --bg-color: #000;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
.container{
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}
/*Nav Bar styling */
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 2px solid var(--text-color);
}
header.shadow #search-icon{
    color: var(--text-color)
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
.logo{
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
}
.logo span {
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 2rem;
}
.navbar a {
    color: var(--text-color);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
}


.navbar a:hover,
.navbar .active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#search-icon{
    font-size: 24px;
    cursor: pointer;
}
.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 2px 2px 10px rgb(15 54 55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);

}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: #fff;
}
.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.5s;
}
div{
    padding: 50px 0 20px;
}
/*Advertisement Page */
.home{
    height: 100vh;
    align-items: center;
    background: url(./photos/home1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.home-text{
    padding-left: 130px;
    padding-top: 100px;
    background: transparent;
}
.home-text h1{
    font-size: 70px;
    background: transparent;
}
.home-text span{
    color: var(--main-color);
    font-weight: 800;
    background: transparent;
}
.home-text p{
    font-size: 40px;
    font-weight: 300;
    margin: 8px 0 20px ;
    background: transparent;
}
/*discover now button*/
.btn{
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}
.btn:hover{
    background: green;
}
/*.heading section*/
.heading{
    text-align: center;
}
.heading span{
    font-weight: 700;
    color: var(--main-color);
    font-size: 3rem;
}
.heading p{
    font-size: 15px;
    font-weight: 400;
}
/* cars on sale */
.container .ibox img {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}




.car-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.car-container .box{
    flex: 1 1 20rem;
    position: relative;
    border-radius: 0.5rem;
    padding: 20px;
    display: flex;
    flex-direction: column ;
    background: var(--bg-color);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(255, 254, 254, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.car-container .box img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}
.car-container .box:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.car-container .box h3{
    font-weight: 600;
    font-size: 1.1rem;
}
.car-container .box span{
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--main-color);
}
.car-container .box .btn{
    max-width: 120px;
}
.car-container .box .explore{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 4rem;
    font-size: 1rem;
    color: var(--text-color);
}
.car-container .box .explore:hover{
    color: var(--main-color);
    text-decoration: underline;
}

/* form styles */

/* Styles for the modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 55, 69, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  /* Styles for the modal container */
  .modal-container {
    width: 900px;
    padding: 10px;
  }
  
  .modal-container button.close-button {
    position: absolute;
    top: 45px;
    right: 190px;
    background-color: #0b4d99 ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right
  }
  
  .modal-container button.close-button:hover {
    color: #333;
  }
  
  /* Styles for the purchase form within the modal


  .purchase-form label {
    display: block;
    padding-bottom: 5px;
    font-weight: bold;
    color: black;
    background-color: #f9f9f9;
  }
  
  .purchase-form input[type="text"],
  .purchase-form input[type="email"],
  .purchase-form input[type="tel"],
  .purchase-form textarea {
    width: 50%;
    padding: 8px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #d1d1d1;
    display: flex;
  }
  
  .purchase-form textarea {
    resize: vertical;
    height: 100px;
  }
  
  .purchase-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .purchase-form button[type="submit"]:hover {
    background-color: #45a049;
  }

   */

   .fcontainer {
    display: flex;
    height: 90vh;
  }
  

  .left {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
  }
  
  .right {
    flex: 1;
    transition: 1s;
    background-image: url(https://images.unsplash.com/photo-1542282088-fe8426682b8f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzV8fGF1ZGl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=2250&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  
  .heade > h2 {
    margin: 0;
    color: #0b4d99;
  }
  
  .heade > h4 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.4);
  }
  
  .form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: -40px;
  }
  
  
  .form-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    margin-top: 20px;
    color: #fff;
  }
  
  .form-field:focus {
    border-color: #0f7ef1;
  }
  
  .form > button {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #0b4d99 0%,#0097ff 100%); 
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
  }
  
  .animation {
    animation-name: move;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-delay: 2s;
  }
  
  .a1 {
    animation-delay: 2s;
  }
  
  .a2 {
    animation-delay: 2.1s;
  }
  
  .a3 {
    animation-delay: 2.2s;
  }
  
  .a4 {
    animation-delay: 2.3s;
  }
  
  .a5 {
    animation-delay: 2.4s;
  }
  
  .a6 {
    animation-delay: 2.5s;
  }
  
  @keyframes move {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-40px);
    }
  
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  
  @keyframes left {
    0% {
      opacity: 0;
      width: 0;
    }
  
    100% {
      opacity: 1;
      padding: 20px 40px;
      width: 440px;
    }
  }




  .confirmation-message {
    position: fixed;
    top: 50px; /* Adjust the top position as needed */
    left: -100%; /* Initially set to the left of the viewport */
    transform: translateX(-50%);
    background-color: #fff; /* White background */
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Ensures the message is above other content */
    color: #000;
    transition: left 1.6s; /* Add the transition effect for the left property */
}

.confirmation-message.show {
    left: 50%; /* Slide in to the center from the left */
}
